@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Plus Jakarta Sans", sans-serif !important;
}

.gradientBg{
    background: linear-gradient(99deg, #EE9AE5 0%, #5961F9 100%);
}

.body {
    background: 'bg-white';
}